@import "bootstrap.less";


* {
  .clearfix {
    .clearfix();
  }
  @font-face {
    font-family: Roboto; /* Гарнитура шрифта */
    src: url(/fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
  }
  font-family:  Roboto;
}

.header {
  background: #abeafa;
  padding: 30px 0 65px;
  width: 100%;
}

.logo {
  background: url("/img/logo.png");
  width: 125px;
  height: 111px;
  margin: 0 auto;
}

.header--social {

  a {
    color:white;
  }
  li {
    margin-left: 15px;
  }

  ul.dropdown li {
    position: relative;
  }
  ul.dropdown,
  ul.dropdown-inside {
    list-style-type: none;
    padding: 0;
  }
  ul.dropdown-inside {
    position: absolute;
    left: -9999px;
  }
  ul.dropdown li.dropdown-top {
    display: inline;
    float: left;
    margin: 0 1px 0 0;
  }
  ul.dropdown li.dropdown-top a {
    padding: 3px 10px 4px;
    display: block;
    text-decoration: none;
  }
  ul.dropdown a.dropdown-top:hover {
    padding: 2px 10px 5px;
  }
  ul.dropdown li.dropdown-top:hover .dropdown-inside {
    display: block;
    left: -15px;
  }

}
.header--card {
  max-width: 270px;
  font-family: Raleway Light;
  font-size: 12px;
  display: block;
  margin-top: 40px;
}
.header--card-header {
  background: #f8f8f8;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;

  a {
    color: #fb4d01;
  }
  .login {
    text-align: center;
  }
  .wishlist {
    text-align:center;
  }
}
.header--card-section {
  background: #fb4d01;
  height: 65px;
  .bucket {
    font-size: 40px;
    color:yellow;
    padding-left: 25px;
    padding-top: 15px;
    display: inline-block;
  }
  .sum {
    margin-left: 15px;
    display: inline-block;
    .price {
      color: white;
      font-size: 18px;
    }
    .items {
      color: yellow;
      font-size: 12px;
    }
  }
  .edit {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    display: inline-block;
    font-size: 10px;
    i {
      color: yellow;
      font-size: 20px;
      font-weight: 100;
      margin-left: 3px;
    }
  }
}
.btn-view-card {
  a {
    color: white;
    text-transform: uppercase;
  }
  height: 25px;
  background: #e24602;

  line-height: 25px;
  text-align: center;

  .active {
    background: #fb4d01;
    width: 50%;
    height: 25px;
  }
}
.search {
  height: 35px;
  background: #e9e9e9;
  input {
    background:  #e9e9e9;
    border: 0;
    height: 35px;
    width: 85%;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px;
    outline: 0;
  }
  input:focus {
    border:0;
    outline: 0;
  }
  button {
    width: 35px;
    height: 35px;
    float: right;
    background: black;
    border: none;
    color:white;
  }
}
.header--welcome {
  max-width: 270px;
  margin-top: 10px;
  background: #fff51f;
  padding: 80px 20px;
  .header--welcome-header {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 25px;
  }
  .header--welcome-text {
    font-size: 18px;
    font-style:  italic;

  }
}
@media (max-width: @screen-sm) {
  .header--welcome {
    display: none;
  }
}
.slider {
  margin-top: 40px;
}
.header--slider-wrap {
  width: 95%;
  overflow: hidden;
  position: relative;
  height: 490px;
}
.header--slider-list .header--slider-item {
  display: inline-block;
  width: 800px;
}
.header--slider-list {
  width: 3000px;
  position: absolute;
  left:0;
  transition: 1s;
  padding: 0;
}



.header--slider-item-header {
  color: yellow;
  font-size: 48px;

}
.header--slider-item-text {
  font-size: 18px;
  color:yellow;
}
.header--slider-item-content {
  padding-top: 40px;
  width: 60%;
  padding-right: 130px;
  margin-right: 190px;
  a {
    text-decoration: none;
  }
}
.header--slider-item-but {
  width: 140px;
  height: 50px;
  line-height: 50px;
  background: yellow;
  text-align: center;
  padding: 0 15px;
  margin-top: 60px;
}

.header--slider-nav {
  position: absolute;
  top:110px;
  right: -130px;
  font-size: 30px;
  a {
    color: black;
    background: white;
    display: inline-block;
  }
  i {
    padding: 0 5px;
  }
  .notactive {
    background: yellow;
  }
}
.header--slider-doted {
  margin: 0 auto;
  margin-left:150px;

  .active-doted {
    background: red;
  }

}
.header--slider-doted--content {
  display: inline-block;
  width: 40px;
  height: 3px;
  background: yellow;
  margin-left:10px;
}
@media(max-width: @screen-md-min)  {
  .header--slider-nav {
    top:70px;
    right: -50px;
  }
  .header--slider-doted {
    text-align: center;
    margin-left: 0;
  }
  .header--slider-wrap {
    height: 400px;
  }
}

@media(min-width: @screen-md-min)  {
  .header--slider-nav {
    top:80px;
  }

}
.main {
  background: #f8f8f8;
}
.menu {
  background: #26d2fc;
  max-width: 270px;
  top:-20px;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 40px;

  .menu-header {
    padding: 30px 0;
    padding-left: 40px;
    color:white;
    background: #333333;
  }
  a{
    text-decoration: none;
    color:black;
  }
  li {
    list-style-type: none;
    padding: 10px 0;
    padding-left: 40px;
  }
  ul {
    padding: 0;
    margin: 0;
  }

  a:hover {

    color:white;
    li {
      background: #333333;
    }
  }
}
.block-open {
  background: #e0e0e0;
  max-width: 270px;
  height: 300px;
  margin-top: 30px;
  font-size: 36px;
  text-transform: uppercase;
  color:#333333;
  font-style: italic;
  .block-open--text {
    padding-top: 120px;
  }
}

.tags-widget {
  background: white;
  margin-top: 30px;
  font-size: 14px;
  padding: 30px;
  .tags-widget--header {
    font-size: 24px;
    padding-bottom: 30px;
  }
  a {
    color:black;
  }
}
.tag-item {
  display: inline-block;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background: #e9e9e9;
  margin-bottom: 10px;
}
.tag-item-active {
  background: #faef03;
}
.tags-widget--footer {
  font-style: italic;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 900;
  a {
    text-decoration: none;
    i {
      padding-left: 5px;
    }
  }
}
.articles {
  margin-top: 30px;
  padding: 30px;
  background: white;
  .articles-header {
    font-size: 24px;
    font-family: Roboto BlackItalic;
    padding-bottom: 30px;
  }
  .articles-item {
    color:#555555;
    font-size: 14px;
    padding-bottom: 10px;
  }
  a {
    text-decoration: none;
  }
  .articles-footer {
    font-style: italic;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 900;
    a {
      text-decoration: none;
      color:black;
      i {
        padding-left: 5px;
      }
    }
  }
}


.products {
  background: #f8f8f8;
  position: relative;
  top:-20px;
}

.slider {

  .slider-buttons {
    float: right;
    margin-right: 20px;
    font-size: 24px;
    i {
      padding: 0 10px;
    }
    a {
      color:#333333;
    }
  }

  .slider-header {
    font-size: 24px;
    text-transform: uppercase;
    color: #717171;
  }

}

.slider-item {
  width: 270px;
  height: 320px;
  background: white;
  display: inline-block;
  padding: 10px;
}

.slider-list {
  margin-top: 47px;
  width: 8000px;
  padding: 0;
}
.slider-list-container {
  width: 8000px;
  position: relative;
  left:0;
  transition: 1s;
}
.slider-wrap {
  position: relative;
  overflow: hidden;
  padding: 0;
  min-width: 270px;
  margin: 0 auto;

}

.slider-item--photo {
  background: #eaeaea;
  width: 248px;
  height: 232px;
  margin: 0 auto;
}
.slider-item--name  {
  font-size: 14px;
  padding-left: 30px;
  margin-top: 25px;
  font-weight: 900;
  text-transform: uppercase;
}
.slider-item--price {
  font-size: 18px;
  text-align: center;
  margin-top: 25px;
}
.last-price {
  font-size: 14px;
  color:red;
  text-decoration: line-through;
}
.brand {
  margin-top: 30px;
  height: 160px;
  background: white;
  clear: both;
}
.brand-item {
  margin: 0 auto;
  text-align: center;
  line-height: 160px;
  color: #bababa;
  font-size: 35px;
  font-weight: 900;
}
.instafeed {
  text-align: center;
  margin-top: 55px;

  img {
    width: 100%;
    height: auto;
  }
}
.instafeed--header {
  font-size: 22px;
  color:#333333;
  padding-bottom: 30px;
  .instafeed--heshtag {
    font-size: 18px;
    display: inline-block;
  }
  i {
    padding: 0 10px;
  }
}

.social {
  height: 150px;
  margin-top: 60px;
  line-height: 150px;

  text-align: center;
  font-size: 35px;
  a {
    color:white;
  }
}
.social-facebook {
  background: #3b5997;
}
.social-twitter {
  background: #3fccfd;
}
.social-pinterest {
  background: #cb2027;
}

@media (max-width: @screen-sm-min) {
  .articles, .tags-widget, .block-open, .brand  {
    display: none;
  }
}
@media (max-width: @screen-sm-max) {
  .brand {
    font-size: 20px;
  }
}

footer {
  background: #373737;
  padding: 70px 0 60px;
  color: white;
  font-size: 12px;
}
.footer--header {
  padding-left: 30px;
  font-size: 18px;

}
.footer-list {
  padding: 0;
  margin: 0;
  padding-left: 30px;
  padding-top: 30px;
  margin-bottom: 40px;

  li {
    list-style-type: none;
    padding-bottom: 5px;
  }
  a {
    color:white;
    text-decoration: none;
  }
}
.footer-text {
  padding-left: 30px;
  padding-top: 10px;
}
.footer-form {
  letter-spacing: -0.3em;


  input{
    width: 60%;
    max-width: 180px;
    height: 30px;
    background: #c3e751;
    margin-left: 5px;
    border: 0;
    padding: 5px 15px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: normal;
  }
  input:focus{
    outline: 0;
  }
  button {
    width: 35%;
    max-width: 100px;
    letter-spacing: normal;
    background-color: black;
    color:white;
    border:2px solid black;
    border-bottom: 1px;
    height: 30px;
  }
}
.footer--header-form, .footer-text-form {
  padding-left: 5px;
}
.footer-payment {
  margin-top: 45px;

  a {
    margin-right: 2px;
  }
}

.footer-contacts {
  font-size: 14px;
  margin-top: 20px;
  padding-left: 10px;
  a[href^="tel:"] {
    text-decoration:none;
    color:inherit;
    cursor:default;
  }

  a[href^="mailto"] {
    text-decoration:none;
    cursor:default;
    color: yellow;
  }
  .footer-contacts--text {
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 10px;
  }

}
